@{
    ViewData["Title"] = "No Tenant Found";
}

    <div class="jumbotron">
        <h1 class="display-4">No Tenant</h1>
        <p class="lead">This page is where users are redirected if no valid tenant is found.</p>
    </div> 
